<?xml version="1.0" encoding="UTF-8"?>
<config>
	<logPath>logs</logPath>
	<cryptoPath>crypto</cryptoPath>
	<generatePKCS12Cert>false</generatePKCS12Cert>
	<writeTraceToConsole>true</writeTraceToConsole>
	<deviceFriendlyName>Unnamed Device</deviceFriendlyName>
	<traceLevel>Verbose</traceLevel>
	<pairingKey>EXAMPLEKEY</pairingKey>
	<maxTimeDifference>30</maxTimeDifference>
	<streamBufferTime>2</streamBufferTime>
</config>